@using System.Data;
@{
    ViewBag.Title = "Survey Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int id = Convert.ToInt32(TempData["ID"]);
    var ds = SurveyApp.DataHelper.SurveyGetAll();

    DataSet dschild = SurveyApp.DataHelper.GetChildbyUserID(id);
    string[] roles = Roles.GetRolesForUser(User.Identity.Name);
    userId = WebSecurity.CurrentUserId;
    role = roles[0];

    dsQuestionsFilled = SurveyApp.DataHelper.QuestionGetFilledAnswers(userId);
    dsChildrenSchedules = SurveyApp.DataHelper.getChildrenSchedulesByUserId(userId);

    
}
<style type="text/css">
    .col-centered { float: none; margin: 0 auto; }
    .schedule { width: 60px;  text-align: center; font-style: italic; text-decoration: underline; }
    .schedule.onu{ color: #929292;}
    .schedule.dos{ color: #E94B44;}
    .schedule.tres{ color: #5EA226;}
    .percent{font-style :italic;}
    .text-left { text-align: left; padding-left: 7px; }
    .surveyList div { margin-bottom: 6px; }
</style>

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@roles[0] Dashboard</h2>
            </hgroup>
            <p style="font-size:16px;">
                Complete the following Survey
            </p>
        </div>
    </section>
}
@functions{
    DataSet dsQuestionsFilled, dsChildrenSchedules, Ds_othersurvey,ds_advershist,ds_lifevent;
    int userId;
    string role = "";
    public string getPercentCompletion(int surveyId, int childId, string url)
    {
        string percentage = "0%", schInfo = "";
        if (dsQuestionsFilled != null && dsQuestionsFilled.Tables != null && dsQuestionsFilled.Tables[0] != null && dsQuestionsFilled.Tables[0].Rows != null)
        {
            DataRow[] drQuestions = dsQuestionsFilled.Tables[0].Select("SurveyID = " + surveyId + " AND ChildID = " + childId);
            foreach (DataRow dr in drQuestions)
            {
                percentage = dr["Percentage"] != DBNull.Value ? dr["Percentage"].ToString() : percentage;
            }
        }


        if (dsChildrenSchedules != null && dsChildrenSchedules.Tables != null && dsChildrenSchedules.Tables[0] != null && dsChildrenSchedules.Tables[0].Rows != null)
        {
            string condition = " AND ScheduleId" + role + " IS NOT NULL";
            DataRow[] drSchedules = dsChildrenSchedules.Tables[0].Select("SurveyId = " + surveyId + " AND ChildId = " + childId + "" + condition);
            int i = 0;
            foreach (DataRow drSchedule in drSchedules)
            {
                DateTime endDate = drSchedule["ScheuleEndDate"] != DBNull.Value ? Convert.ToDateTime(drSchedule["ScheuleEndDate"]) : DateTime.MinValue;
                if(endDate != DateTime.MinValue)
                {
                    string cssClass = i % 2 == 0 ? "tres" : "dos";
                    string urlForSurvey = url + "&perioddate=" + endDate.ToString("MM/dd/yyyy");
                    schInfo = schInfo + "&nbsp;&nbsp;&nbsp;&nbsp;<a href='" + urlForSurvey + "'><span class='schedule " + cssClass + "'>" + endDate.ToString("MMMM dd, y") + "</span>&nbsp;-&nbsp;<span class='percent'>" + percentage + "</span></a>";
                    i++;
                }

                /*
                int activeOn = drSchedule["ActiveOn"] != DBNull.Value ? Convert.ToInt32(drSchedule["ActiveOn"]) : -1;
                DateTime enrollmentDate = drSchedule["EnrollmentDate"] != DBNull.Value ? Convert.ToDateTime(drSchedule["EnrollmentDate"]) : DateTime.MinValue;
                DateTime endDate = DateTime.MinValue;
                int availableUntil = drSchedule["AvailableUntil"] != DBNull.Value ? Convert.ToInt32(drSchedule["AvailableUntil"]) : -1;
                int daysToRepeat = drSchedule["DaysToRepeat"] != DBNull.Value ? Convert.ToInt32(drSchedule["DaysToRepeat"]) : -1;
                DateTime specificDate = drSchedule["Day"] != DBNull.Value && drSchedule["Month"] != DBNull.Value ? new DateTime(DateTime.Now.Year, (int)drSchedule["Month"], (int)drSchedule["Day"]) : DateTime.MinValue;



                if(availableUntil > 0)
                {
                    if (enrollmentDate != DateTime.MinValue)
                    {
                        endDate = (activeOn == 1 ? enrollmentDate : specificDate).AddDays(availableUntil);
                        string urlForSurvey = url + "&perioddate=" + endDate.ToString("MM/dd/yyyy");
                        schInfo = "&nbsp;&nbsp;&nbsp;&nbsp;<a href='" + urlForSurvey + "'><span class='schedule onu'>" + endDate.ToString("MMMM dd, y") + "</span>&nbsp;-&nbsp;<span class='percent'>" + percentage + "</span></a>";

                        //if schedule end date has already passed
                        if (endDate < DateTime.Now)
                        {
                            double diff = Convert.ToInt32((DateTime.Now - endDate).TotalDays);
                            if (daysToRepeat > 0 && diff > 0)
                            {
                                int length = Convert.ToInt32(Math.Ceiling(diff / daysToRepeat));
                                DateTime dt = (activeOn == 1 ? enrollmentDate : specificDate);
                                for (int i = 0; i < length; i++)
                                {
                                    dt = dt.AddDays(daysToRepeat);
                                    DateTime dtPeroid = dt.AddDays(availableUntil);
                                    string urlForPeriod = url + "&perioddate=" + dtPeroid.ToString("MM/dd/yyyy");
                                    string cssClass = i % 2 == 0 ? "tres" : "dos";
                                    schInfo = schInfo + "<a href='" + urlForPeriod + "'><span class='schedule "+ cssClass + "'>" + dtPeroid.ToString("MMMM dd, y") + "</span>&nbsp;-&nbsp;<span class='percent'>" + percentage + "</span></a>";
                                }
                            }
                        }
                    }
                }
                */

            }
        }


        return schInfo;
    }

    public string othersStats(int surveyid)
    {
        string format = "MMM d,  yyyy";
        string returnstring = "";
         Ds_othersurvey = SurveyApp.DataHelper.GetOtherSurveyStats(surveyid,"Stats");
         if (Ds_othersurvey.Tables[0].Rows.Count >0 )
         {
             returnstring = "<span class='schedule dos'>" + Ds_othersurvey.Tables[0].Rows.Count + "  Reported till " + Convert.ToDateTime(Ds_othersurvey.Tables[0].Rows[0][1]).ToString(format) +"</span>";
         }
         else
         {
           returnstring="0 Reported till " + DateTime.Now.Date.ToString(format);
         }
        //ds_advershist = SurveyApp.DataHelper.GetOtherSurveyStats(surveyid, "AdverseRecation");

        return returnstring;
    }
   
    
    
}






<div class="panel-group">

    @if (dschild.Tables[0].Rows.Count > 0)
    {


        foreach (System.Data.DataRow drch in dschild.Tables[0].Rows)
        {

            var url = Url.Action("Question", "UserQuestion", new { surveyID = "__", ChildId = drch["ID"].ToString(), ChildName = drch["Name"].ToString() });
            DateTime today = DateTime.Today;
            DateTime dob = (DateTime)drch["DOB"];
            int age = today.Year - dob.Year;

            if (dob > today.AddYears(-age)) { age--; }

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#@drch["ID"].ToString()">
                            @drch["Name"].ToString()
                        </a>
                    </h4>
                </div>
                <div id="@drch["ID"].ToString()" class="panel-collapse collapse">
                    <div class="panel-body surveyList">
                        @if (roles[0] != "Teacher")
                        {
                            <h4 class="col-md-12">Parent Intake Form</h4>
                            <div class="btn btn-default col-md-3 text-left">General Information@(Html.Raw(getPercentCompletion(16, (int)drch["ID"], url.Replace("__", "16")))))</div>
                            <div class="btn btn-default col-md-2 text-left">Pregnancy@(Html.Raw(getPercentCompletion(17, (int)drch["ID"], url.Replace("__", "17"))))</div>
                            <div class="btn btn-default col-md-3 text-left">Development and Education@(Html.Raw(getPercentCompletion(18, (int)drch["ID"], url.Replace("__", "18"))))</div>
                            <div class="btn btn-default col-md-2 text-left">Medical History@(Html.Raw(getPercentCompletion(19, (int)drch["ID"], url.Replace("__", "19"))))</div>
                            <div class="btn btn-default col-md-2 text-left">Medication History@(Html.Raw(getPercentCompletion(20, (int)drch["ID"], url.Replace("__", "20"))))</div>
                            <h4 class="col-md-12">Parent Follow-Up</h4>
                            <div class="btn btn-default col-md-4 text-left">Medication@(Html.Raw(getPercentCompletion(21, (int)drch["ID"], url.Replace("__", "21"))))</div>
                            <div class="btn btn-default col-md-4 text-left">Part 2@(Html.Raw(getPercentCompletion(22, (int)drch["ID"], url.Replace("__", "22"))))</div>
                            <div class="btn btn-default col-md-4 text-left">Additional Comments@(Html.Raw(getPercentCompletion(23, (int)drch["ID"], url.Replace("__", "23"))))</div>
                        }
                        else
                        {
                            <h4 class="col-md-12">Recurring Survey</h4>
                            var strLanComunication = getPercentCompletion(24, (int)drch["ID"], url.Replace("__", "24"));
                            if (strLanComunication != "")
                            {
                                <div class="btn btn-default col-md-12 text-left">Language and Communication@(Html.Raw(strLanComunication))</div>
                            }
                            var acadmicprogrss = getPercentCompletion(27, (int)drch["ID"], url.Replace("__", "27"));
                            if (acadmicprogrss != "") { 
                            <div class="btn btn-default col-md-12 text-left">Academic Progress Rating Scales@(Html.Raw(getPercentCompletion(27, (int)drch["ID"], url.Replace("__", "27"))))</div>
                             }
                        }
                        @{
                        var abbsensoryprofile=getPercentCompletion(1, (int)drch["ID"], url.Replace("__", "1"));
                        if(abbsensoryprofile!=""){
                        <div class="btn btn-default col-md-12 text-left">Abbreviated sensory profile @(Html.Raw(abbsensoryprofile))</div>

                        }
                        var CaregiverQuestionair = getPercentCompletion(2, (int)drch["ID"], url.Replace("__", "2"));
                        if (CaregiverQuestionair != "") { 
                        <div class="btn btn-default col-md-12 text-left">Caregiver Strain Questionnaire@(Html.Raw(CaregiverQuestionair))</div>
                        }
                        var GISeverityIndex = getPercentCompletion(3, (int)drch["ID"], url.Replace("__", "3"));
                        if (GISeverityIndex != "") { 
                        <div class="btn btn-default col-md-12 text-left">GI Severity Index @(Html.Raw(GISeverityIndex))</div>
                        }
                        var abbehaviourchk = getPercentCompletion(4, (int)drch["ID"], url.Replace("__", "4"));
                        if (abbehaviourchk != "") { 
                        <div class="btn btn-default col-md-12 text-left">Aberrant Behavior Checklist@(Html.Raw(abbehaviourchk))</div>
                        }

                        var socialResponsivenies = getPercentCompletion(5, (int)drch["ID"], url.Replace("__", "5"));
                        if (socialResponsivenies != "") { 
                        <div class="btn btn-default col-md-12 text-left">Social Responsiveness Scale@(Html.Raw(socialResponsivenies))</div>
                        }
                        
                       
                      
                        if (age <= 4 && age >= 2)
                        {
                            var pedsqty = getPercentCompletion(6, (int)drch["ID"], url.Replace("__", "6"));
                            if (pedsqty != "")
                            { 
                            <div class="btn btn-default col-md-12 text-left">Peds quality of life for 2yrs-4yrs@(Html.Raw(pedsqty))</div>
                            }
                        }
                        else if (age <= 7 && age >= 5)
                        {
                            var pdsqtylife = getPercentCompletion(7, (int)drch["ID"], url.Replace("__", "7"));
                            if (pdsqtylife!="")
                            {
                            <div class="btn btn-default col-md-12 text-left">Peds quality of life for 5yrs-7yrs@(Html.Raw(pdsqtylife))</div>
                            }
                        }
                        else if (age <= 12 && age >= 8)
                        {
                            var pdsqty8yr = getPercentCompletion(8, (int)drch["ID"], url.Replace("__", "8"));
                            if (pdsqty8yr != "") { 
                            <div class="btn btn-default col-md-12 text-left">Peds quality of life for 8yrs -12yrs@(Html.Raw(pdsqty8yr))</div>
                            }
                        }
                        else if (age <= 18 && age >= 13)
                        {
                            var pdsqty13year = getPercentCompletion(9, (int)drch["ID"], url.Replace("__", "17"));
                            if (pdsqty13year != "") { 
                            <div class="btn btn-default col-md-12 text-left">Peds quality of life for 13yrs -18yrs@(Html.Raw(pdsqty13year))</div>
                            }
                        }
                        var shrtlngprofile = getPercentCompletion(10, (int)drch["ID"], url.Replace("__", "10"));
                        if (shrtlngprofile != "") { 
                        <div class="btn btn-default col-md-12 text-left">Short language profile @(Html.Raw(shrtlngprofile))</div>
                        }
                        var socialcommqstions = getPercentCompletion(11, (int)drch["ID"], url.Replace("__", "11"));
                        if (socialcommqstions != "") { 
                        <div class="btn btn-default col-md-12 text-left">Social communication Questionnaire – life time @(Html.Raw(socialcommqstions))</div>
                        }
                        var Insomniaseverity = getPercentCompletion(12, (int)drch["ID"], url.Replace("__", "12"));
                        if (Insomniaseverity != "") { 
                        <div class="btn btn-default col-md-12 text-left">Insomnia Severity Index@(Html.Raw(Insomniaseverity))</div>
                        }
                        var connordavidson = getPercentCompletion(13, (int)drch["ID"], url.Replace("__", "13"));
                        if (connordavidson != "")
                        {
                            <div class="btn btn-default col-md-12 text-left">Connor-Davidson Resilience Scale 10@(Html.Raw(connordavidson))</div>
                        }

                        var familyempowermentscale = getPercentCompletion(14, (int)drch["ID"], url.Replace("__", "14"));
                        if (familyempowermentscale != "") {
                        <div class="btn btn-default col-md-12 text-left">Family Empowerment Scale@(Html.Raw(familyempowermentscale))</div>
                        }

                         var feedbackquestionair = getPercentCompletion(15, (int)drch["ID"], url.Replace("__", "15"));
                        if (feedbackquestionair!=""){
                            <div class="btn btn-default col-md-4 text-left">Feedback Questionnaire@(Html.Raw(feedbackquestionair))</div>

                        }
                        }
                        <h4 class="col-md-12">Others</h4>

                        <div class="col-md-12">

                            <div class="btn btn-default col-md-4 text-left"><a href="@Url.Action("Question", "UserQuestion", new { surveyID = 28, ChildId = (int)drch["ID"], ChildName = drch["Name"].ToString() })">Adverse Reaction @(Html.Raw(othersStats(28)))</a></div>
                            @*<div class="row col-md-12">
                                @foreach (System.Data.DataRow drothers in Ds_othersurvey.Tables[0].Rows)
                                {
                                   
                                }
                            </div>*@

                        </div>

                                <div class="col-md-12">
                                    <div class="btn btn-default col-md-4 text-left"><a href="@Url.Action("Question", "UserQuestion", new { surveyID = 29, ChildId = (int)drch["ID"], ChildName = drch["Name"].ToString() })">Life Events @(Html.Raw(othersStats(29)))</a></div>
                                </div>
                                @*<div class="btn btn-default col-md-4 text-left">Feedback Questionnaire@(Html.Raw(getPercentCompletion(15, (int)drch["ID"], url.Replace("__", "15"))))</div>
            <div class="btn btn-default col-md-4 text-left">Adverse Reaction@(Html.Raw(getPercentCompletion(28, (int)drch["ID"], url.Replace("__", "28"))))</div>
            <div class="btn btn-default col-md-4 text-left">Life Events@(Html.Raw(getPercentCompletion(29, (int)drch["ID"], url.Replace("__", "29"))))</div>*@

                            </div>
                </div>
            </div>
        }

    }
    else
    {
        <div class="alert alert-info">
            <strong>Info!</strong>No child is assosisated with this @roles[0]
        </div>
    }
</div>
