@using System.Data;
@{
    ViewBag.Title = "Survey Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int id = Convert.ToInt32(TempData["ID"]);
    var ds = SurveyApp.DataHelper.SurveyGetAll();

    DataSet dschild = SurveyApp.DataHelper.GetChildbyUserID(id);
    string[] roles = Roles.GetRolesForUser(User.Identity.Name);
    int userId = WebSecurity.CurrentUserId;

    dsQuestionsFilled = SurveyApp.DataHelper.QuestionGetFilledAnswers(userId);
}
<style type="text/css">
    .col-centered {
        float: none;
        margin: 0 auto;
    }
    .percent {
        float: right;
        background-color: #008080;
        padding: 2px 8px;
        border-radius: 10%;
        color: #FFF;
        width: 60px;
        text-align: center;
    }
    .text-left{text-align:left;padding-left:7px;}
    .surveyList a{
        margin-bottom : 6px;
    }
</style>

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@roles[0] Dashboard</h2>
            </hgroup>
            <p style="font-size:16px;">
                Complete the following Survey
            </p>
        </div>
    </section>
}
@functions{
    DataSet dsQuestionsFilled;
    public string getPercentCompletion(int SurveyId, int childId){
        decimal totalQuestions = 1, filledQuestions = 0;
        if (dsQuestionsFilled != null && dsQuestionsFilled.Tables != null && dsQuestionsFilled.Tables[0] != null && dsQuestionsFilled.Tables[0].Rows != null)
        {
            DataRow[] drQuestions = dsQuestionsFilled.Tables[0].Select("SurveyID = " + SurveyId + " AND ChildID = " + childId);
            foreach(DataRow dr in drQuestions)
            {
                filledQuestions = dr["FilledQuestions"] != null ? Convert.ToDecimal(dr["FilledQuestions"]) : 0;
                totalQuestions = dr["TotalQuestions"] != null ? Convert.ToDecimal(dr["TotalQuestions"]) : 0;
            }
        }

        return Convert.ToInt32((filledQuestions / totalQuestions) * 100).ToString() + "%";
    }
}
<div class="panel-group">

    @if (dschild.Tables[0].Rows.Count > 0)
    {


        foreach (System.Data.DataRow drch in dschild.Tables[0].Rows)
        {
            
            var url = Url.Action("Question", "UserQuestion", new { surveyID = "__", ChildId = drch["ID"].ToString(), ChildName = drch["Name"].ToString() });
            DateTime today = DateTime.Today;
            DateTime dob = (DateTime)drch["DOB"];
            int age = today.Year - dob.Year;

            if (dob > today.AddYears(-age)){ age--; }
 
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#@drch["ID"].ToString()">
                            @drch["Name"].ToString()
                        </a>
                    </h4>
                </div>
                <div id="@drch["ID"].ToString()" class="panel-collapse collapse">
                    <div class="panel-body surveyList">
                        @if (roles[0] != "Teacher") {
                            <h4 class="col-md-12">Parent Intake Form</h4>
                            <a href="@url.Replace("__","16")" class="btn btn-default col-md-3 text-left">General Information<span class="percent">@getPercentCompletion(16, (int)drch["ID"])</span></a>
                            <a href="@url.Replace("__","17")" class="btn btn-default col-md-2 text-left">Pregnancy<span class="percent">@getPercentCompletion(17, (int)drch["ID"])</span></a>
                            <a href="@url.Replace("__","18")" class="btn btn-default col-md-3 text-left">Development and Education<span class="percent">@getPercentCompletion(18, (int)drch["ID"])</span></a>
                            <a href="@url.Replace("__","19")" class="btn btn-default col-md-2 text-left">Medical History<span class="percent">@getPercentCompletion(19, (int)drch["ID"])</span></a>
                            <a href="@url.Replace("__","20")" class="btn btn-default col-md-2 text-left">Medication History<span class="percent">@getPercentCompletion(20, (int)drch["ID"])</span></a>
                            <h4 class="col-md-12">Parent Follow-Up</h4>
                            <a href="@url.Replace("__","21")" class="btn btn-default col-md-4 text-left">Medication<span class="percent">@getPercentCompletion(21, (int)drch["ID"])</span></a>
                            <a href="@url.Replace("__","22")" class="btn btn-default col-md-4 text-left">Part 2<span class="percent">@getPercentCompletion(22, (int)drch["ID"])</span></a>
                            <a href="@url.Replace("__","23")" class="btn btn-default col-md-4 text-left">Additional Comments<span class="percent">@getPercentCompletion(23, (int)drch["ID"])</span></a>
                        }
                        else {
                            <h4 class="col-md-12">Weekly Scheduled Questionnaire for Teacher</h4>
                            <a href="@url.Replace("__","24")" class="btn btn-default col-md-12 text-left">Language and Communication<span class="percent">@getPercentCompletion(24, (int)drch["ID"])</span></a>
                            <a href="@url.Replace("__","25")" class="btn btn-default col-md-12 text-left">Behaviors<span class="percent">@getPercentCompletion(25, (int)drch["ID"])</span></a>
                            <a href="@url.Replace("__","26")" class="btn btn-default col-md-12 text-left">Daily Living Skills/Independence<span class="percent">@getPercentCompletion(26, (int)drch["ID"])</span></a>
                            <a href="@url.Replace("__","27")" class="btn btn-default col-md-12 text-left">Academic Progress Rating Scales<span class="percent">@getPercentCompletion(27, (int)drch["ID"])</span></a>
                        }
                            <h4 class="col-md-12">Quarterly Scheduled Surveys</h4>
                            <a href="@url.Replace("__","1")" class="btn btn-default col-md-12 text-left">Abbreviated sensory profile <span class="percent">@getPercentCompletion(1, (int)drch["ID"])</span></a>
                            <a href="@url.Replace("__","2")" class="btn btn-default col-md-12 text-left">Caregiver Strain Questionnaire<span class="percent">@getPercentCompletion(2, (int)drch["ID"])</span></a>
                            <a href="@url.Replace("__","3")" class="btn btn-default col-md-12 text-left">GI Severity Index <span class="percent">@getPercentCompletion(3, (int)drch["ID"])</span></a>
                            <a href="@url.Replace("__","4")" class="btn btn-default col-md-12 text-left">Aberrant Behavior Checklist<span class="percent">@getPercentCompletion(4, (int)drch["ID"])</span></a>
                            <a href="@url.Replace("__","5")" class="btn btn-default col-md-12 text-left">Social Responsiveness Scale<span class="percent">@getPercentCompletion(5, (int)drch["ID"])</span></a>
                        @if (age <= 4 && age >= 2) {
                            <a href="@url.Replace("__","6")" class="btn btn-default col-md-12 text-left">Peds quality of life for 2yrs-4yrs<span class="percent">@getPercentCompletion(6, (int)drch["ID"])</span></a>
                        }
                        else if (age <= 7 && age >= 5) {
                            <a href="@url.Replace("__","7")" class="btn btn-default col-md-12 text-left">Peds quality of life for 5yrs-7yrs<span class="percent">@getPercentCompletion(7, (int)drch["ID"])</span></a>
                         }
                        else if (age <= 12 && age >= 8) {
                            <a href="@url.Replace("__","8")" class="btn btn-default col-md-12 text-left">Peds quality of life for 8yrs -12yrs<span class="percent">@getPercentCompletion(8, (int)drch["ID"])</span></a>
                        }
                        else if (age <= 18 && age >= 13) {
                            <a href="@url.Replace("__","9")" class="btn btn-default col-md-12 text-left">Peds quality of life for 13yrs -18yrs<span class="percent">@getPercentCompletion(9, (int)drch["ID"])</span></a>
                        }
                            <a href="@url.Replace("__","10")" class="btn btn-default col-md-12 text-left">Short language profile <span class="percent">@getPercentCompletion(10, (int)drch["ID"])</span></a>
                            <a href="@url.Replace("__","11")" class="btn btn-default col-md-12 text-left">Social communication Questionnaire – life time <span class="percent">@getPercentCompletion(11, (int)drch["ID"])</span></a>
                            <a href="@url.Replace("__","12")" class="btn btn-default col-md-12 text-left">Insomnia Severity Index<span class="percent">@getPercentCompletion(12, (int)drch["ID"])</span></a>
                            <a href="@url.Replace("__","13")" class="btn btn-default col-md-12 text-left">Connor-Davidson Resilience Scale 10<span class="percent">@getPercentCompletion(13, (int)drch["ID"])</span></a>
                            <a href="@url.Replace("__","14")" class="btn btn-default col-md-12 text-left">Family Empowerment Scale<span class="percent">@getPercentCompletion(14, (int)drch["ID"])</span></a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="alert alert-info">
            <strong>Info!</strong>No child is assosisated with this @roles[0]
        </div>
    }
</div>
