@using System.Data;
@{
    ViewBag.Title = "Parent/Teacher Management";
    Layout = "~/Views/Shared/_Layout.cshtml";

    DataSet dsUsers = SurveyApp.DataHelper.UserManagementGetUsers();
}


<h2 class="col-sm-11" style="margin: 0px;padding: 0px;">User Management</h2>
<div class="col-sm-1">
@Html.ActionLink("Add", "ParentTeacherAddEdit", "ParentTeacher", new object { }, new { @class = "btn btn-default" }) 
    </div>
<style>
    .table-hover tbody tr{cursor:pointer;}
</style>
<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>School</th>
        <th>Role</th>
        <th>Email</th>
        <th>Children</th>
        <th>Last Login</th>
        <th>Last Reminder</th>
        <th style="width: 50px;">Action</th>
      </tr>
    </thead>
    <tbody>
        @if (dsUsers != null && dsUsers.Tables.Count > 0 && dsUsers.Tables[0] != null && dsUsers.Tables[0].Rows.Count > 0)
        {
            foreach (DataRow dr in dsUsers.Tables[0].Rows)
            {
                <tr onclick="@(Convert.ToBoolean(dr["IsAdmin"]) == true ? "alert('You are not authorized to edit Administrator account');return false;" : "")location.href = '@(Url.Action("ParentTeacherAddEdit", "ParentTeacher") + "?id=" + dr["UserId"].ToString())';">
                    <td>@dr["FullName"]</td>
                    <td>@dr["SchoolName"]</td>
                    <td>@dr["RoleName"]</td>
                    <td>@dr["UserName"]</td>
                    <td>@dr["Children"]</td>
                    <td class="text-success">@dr["LastLoginDate"]</td>
                    <td class="text-success"></td>
                    <td style="text-align: center;vertical-align:middle;"><a href="javascript:void(0);" style="@(Convert.ToBoolean(dr["IsAdmin"]) == true ? "display:none;" : "")" class="redCross" onclick="event.stopPropagation();deleteListItem(this, @dr["UserId"], 'user', '@(dr["FullName"] == DBNull.Value ? dr["UserName"].ToString() : dr["FullName"].ToString())');"></a></td>
                </tr>
            }
        }
    </tbody>
  </table>