@using SurveyApp.Models;
@using System.Data;
@{
    ViewBag.Title = "Parent/Teacher Information Editor";
    Layout = "~/Views/Shared/_Layout.cshtml";
        
    dtStudies = ViewData["Studies"] != null ? (DataTable)ViewData["Studies"] : null;
    
}
@model SurveyApp.Models.ParentTeacher_Register

@functions{
    DataTable dtStudies;
    public string getStudyStatus(int studyId)
    {
		if(dtStudies != null){
			foreach (DataRow dr in dtStudies.Rows)
			{
				if (Convert.ToInt32(dr["StudyId"]) == studyId)
				{
					return "checked='checked'";
				}
			}
		}

        return "";
    }   
    
}

<h2><a href="javascript:void(0);" id="back" onclick="history.go(-1);"></a> &nbsp;User Information Editor</h2>

<style>
    ._panel { background: #fafafa; border: solid 1px #cccccc; padding: 10px; border-radius: 6px; }
</style>
<script type="text/javascript">
    $(function () {
        $("#ddlSchools").append($("<option></option>").val(-1).html("Other (select to add a new school)"));
        $("#ddlSchools").on("change", function (e) {
            if ($(this).val() == -1) {
                $("#addSchool").slideDown();
            }
            else {
                $("#txtSchoolName").val("");
                $("#addSchool").slideUp();
            }
        });

        $(".roles").find("input[type='radio']").each(function (index, obj) {
            if ($(obj)[0].checked == true) {
                $(obj)[0].click();
                return true;
            }
        });
		
        var id = $("#hdnParentTeacherId").val();
		if(id != ""){
		    disableRegisters();
		}
    });

    function disableRegisters() {
        $("#txtUserName").attr("readonly", "readonly");
        $("#txtPassword").val("*********");
        $("#txtPassword").attr("readonly", "readonly");
        $("#txtConfirmPassword").val("*********");
        $("#txtConfirmPassword").attr("readonly", "readonly");
    }
</script>
<br />

@using (Html.BeginForm("ParentTeacherAddEdit", "ParentTeacher", FormMethod.Post, new { @class = "form-horizontal", style = "width: 600px;" }))
{
    @Html.ValidationSummary();
    @Html.HiddenFor(m => m.vw_ParentTeacher.Id, new { name = "hdnParentTeacherId", value = Request.QueryString["id"] })
            <div class="form-group">
        <label class="control-label col-sm-3" for="teacher">Study:</label>
        <div class="col-sm-9">
            <div class="checklist">
                @foreach (Study std in Study.StudyGetAll())
                {                    
                    <div><label><input type="checkbox" @getStudyStatus(std.Id) name="StudyId_@(std.Id)" value="@std.Id" /> @std.Name</label></div>
                }
                @*@Html.ListBoxFor(m => m.stds, new MultiSelectList(Study.StudyGetAll(), "Id", "Name"))*@
            </div>
            @Html.ActionLink("Add Study", "StudyAddEdit", "Study", new object { }, new { @class = "btn btn-link" }) 
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3">Name</label>
        <div class="col-sm-9">            
            @Html.TextBoxFor(m => m.vw_ParentTeacher.Name, new { @class = "form-control", id = "parent", placeholder = "User Name" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="gender">Role:</label>
        <div class="col-sm-9 roles">            
            <div class="radio-inline"><label>@Html.RadioButtonFor(m => m.vw_ParentTeacher.Role, "1", new { name = "optradio", onclick = "$('.divSchool').hide();" })Parent</label></div>
            <div class="radio-inline"><label>@Html.RadioButtonFor(m => m.vw_ParentTeacher.Role, "2", new { name = "optradio", onclick = "$('.divSchool').show();" })Teacher</label></div>
        </div>
    </div>
    <div class="form-group divSchool" style="display:none;">
        <label class="control-label col-sm-3" for="school">School:</label>
        <div class="col-sm-9">
            @Html.DropDownListFor(m => m.vw_ParentTeacher.SchoolId, new SelectList(School.SchoolGetAll(), "SchoolId", "Name"), "Select school", new { id = "ddlSchools", @class = "form-control", })            
        </div> 
    </div>
    <div id="addSchool" class="_panel col-sm-12" style="display: none; margin-bottom: 5px;">
        <div class="form-group">
            <label class="control-label col-sm-3">School Name</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.vw_ParentTeacher.SchoolName, null, new { id = "txtSchoolName", @class = "form-control", placeholder = "School Name" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3"> </label>
            <div class="col-sm-offset-3 col-sm-9">
                <button type="button" class="btn btn-default" onclick="$('#addSchool').slideUp();">Cancel</button>
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.vw_Register.UserName, new { @class = "control-label col-sm-3" })
        <div class="col-sm-9">            
            @Html.TextBoxFor(m => m.vw_Register.UserName, new { id = "txtUserName", @class = "form-control", placeholder = "Email", autocomplete = "off" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.vw_Register.Password, new { @class = "control-label col-sm-3" })
        <div class="col-sm-9">            
            @Html.PasswordFor(m => m.vw_Register.Password, new { id = "txtPassword", @class = "form-control", placeholder = "Password", autocomplete = "off" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.vw_Register.ConfirmPassword, new { @class = "control-label col-sm-3" })
        <div class="col-sm-9">            
            @Html.PasswordFor(m => m.vw_Register.ConfirmPassword, new { id = "txtConfirmPassword", @class = "form-control", placeholder = "Confirm Password", autocomplete = "off" })
        </div>
    </div>

  
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-4">
            <button type="submit" class="btn btn-default">Save Information</button>
        </div>
    </div>

}