@using SurveyApp.Models;
@using System.Data;
@{
    ViewBag.Title = "Child Information Editor";
    Layout = "~/Views/Shared/_Layout.cshtml";

    dtStudies = ViewData["Studies"] != null ? (DataTable)ViewData["Studies"] : null;
    dtTeachers = ViewData["Teachers"] != null ? (DataTable)ViewData["Teachers"] : null;
}
@model SurveyApp.Models.Child

@functions{
    DataTable dtStudies, dtTeachers;
    public string getStudyStatus(int studyId)
    {
        if (dtStudies != null)
        {
            foreach (DataRow dr in dtStudies.Rows)
            {
                if (Convert.ToInt32(dr["StudyId"]) == studyId)
                {
                    return "checked='checked'";
                }
            }
        }

        return "";
    }

    public string getTeacherStatus(int UserId)
    {
        if (dtTeachers != null)
        {
            foreach (DataRow dr in dtTeachers.Rows)
            {
                if (Convert.ToInt32(dr["TeacherId"]) == UserId)
                {
                    return "checked='checked'";
                }
            }
        }

        return "";
    }

}

<h2><a href="javascript:void(0);" id="back" onclick="history.go(-1);"></a> &nbsp;Child Information Editor</h2>

<style>
    ._panel { background: #fafafa; border: solid 1px #cccccc; padding: 10px; border-radius: 6px; }
    .msg.green {
        color: #00cc00;
        margin: 0px 0px 6px 0px;
    }
    .msg.red {
        color: #cc0000;
        margin: 0px 0px 6px 0px;
    }
</style>
<br />

@using (Html.BeginForm("ChildAddEdit", "Child", FormMethod.Post, new { id = "frmAddChild", @class = "form-horizontal", style = "width: 600px;" }))
{
    @Html.ValidationSummary();
    @Html.HiddenFor(m => m.Id, new { name = "hdnChildId", value = Request.QueryString["id"] })
    <div class="form-group">
        <label class="control-label col-sm-3" for="teacher">Study:</label>
        <div class="col-sm-9">
            <div class="checklist">
                @foreach (Study std in Study.StudyGetAll())
                {
                    <div><label><input type="checkbox" @getStudyStatus(std.Id) name="StudyId_@std.Id" value="@std.Id" /> @std.Name</label></div>
                }
            </div>
            @Html.ActionLink("Add Study", "StudyAddEdit", "Study", new object { }, new { @class = "btn btn-link" }) 
        </div>
    </div>
   
    <div class="form-group">
        <label class="control-label col-sm-3" for="email">Name:</label>
        <div class="col-sm-9">            
            @Html.TextBoxFor(m => m.Name, new { placeholder = "Enter Name", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="pwd">Date of Birth:</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.dob, "{0:yyyy-MM-dd}", new { type = "date", placeholder = "Enter DOB", @class = "form-control", max = @DateTime.Now.ToString(@"yyyy-MM-dd") })
            
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="gender">Gender:</label>
        <div class="col-sm-9">
            <div class="radio-inline"><label>@Html.RadioButtonFor(m => m.Gender, "1", new { name = "optradio" })Male</label></div>
            <div class="radio-inline"><label>@Html.RadioButtonFor(m => m.Gender, "2", new { name = "optradio" })Female</label></div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="parent">Parent:</label>
        <div class="col-sm-9">
            @Html.DropDownListFor(m => m.ParentId, new SelectList(SurveyApp.DataHelper.Parent_GetAll(), "UserId", "FullName"), "Select Parent", new { id = "ddlParents", @class = "form-control" })
            <div>
                <a href="javascript:void(0);" class="btn btn-link" onclick="$('#addParent').slideDown();">Add Parent</a>
            </div>
        </div>
    </div>
    <div id="addParent" class="_panel form-group" style="display:none;">
        <div class="msg" ></div>
        <div class="form-group">
            <label class="control-label col-sm-3">Parent Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control txtFullName"  placeholder="Parent Name">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="gender">Email:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control txtUserName"  placeholder="Email">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3" for="parent">Password:</label>
            <div class="col-sm-9">

                <input type="password" class="form-control txtPassword"  placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="parent">Confirm Password:</label>
            <div class="col-sm-9">
                <input type="password" class="form-control txtConfirmPassword"  placeholder="Confirm Password">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3"> </label>
            <div class="col-sm-offset-3 col-sm-9">            
                <button type="button" class="btn btn-default" onclick="addParentTeacher('Parent');">Add Parent</button>    
                <button type="button" class="btn btn-default" onclick="$('#addParent').slideUp();">Cancel</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="school">School:</label>
        <div class="col-sm-9">
        @Html.DropDownListFor(m => m.SchoolId, new SelectList(School.SchoolGetAll(), "SchoolId", "Name"), "Select School", new { id = "ddlSchools", @class = "form-control" })
            <div>
                <a href="javascript:void(0);" class="btn btn-link" onclick="$('#addSchool').slideDown();">Add School</a>
            </div>    
        </div>
    </div>
    
    <div id="addSchool" class="_panel form-group" style="display:none;">
        <div class="msg"></div>
        <div class="form-group">
            <label class="control-label col-sm-3">School Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control txtSchoolName" placeholder="School Name" maxlength="100">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3"> </label>
            <div class="col-sm-offset-3 col-sm-9">
                <button type="button" class="btn btn-default" onclick="addSchool();">Add School</button>
                <button type="button" class="btn btn-default" onclick="$('#addSchool').slideUp();">Cancel</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="teacher">Teacher:</label>
        <div class="col-sm-9">
            <div class="checklist teachers">
                @foreach (System.Data.DataRow dr in Child_Teacher.Child_TeacherGetAll().Tables[0].Rows)
                {
                    <div><label><input type="checkbox" @getTeacherStatus((int)dr["UserId"]) name="TeacherId_@dr["UserId"]" value="@dr["UserId"]" /> @(dr["FullName"])</label></div>
                }
            </div>
            <a href="javascript:void(0);" class="btn btn-link" onclick="$('#addTeacher').slideDown();">Add Teacher</a>
        </div>
    </div>
    <div id="addTeacher" class="_panel form-group" style="display:none;">
        <div class="msg"></div>
        <div class="form-group">
            <label class="control-label col-sm-3">Teacher Name:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control txtFullName"  placeholder="Teacher Name">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="gender">Email:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control txtUserName"  placeholder="Email">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3" for="parent">Password:</label>
            <div class="col-sm-9">

                <input type="password" class="form-control txtPassword"  placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="parent">Confirm Password:</label>
            <div class="col-sm-9">

                <input type="password" class="form-control txtConfirmPassword"  placeholder="Confirm Password">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3"> </label>
            <div class="col-sm-offset-3 col-sm-9">
                <button type="button" class="btn btn-default" onclick="addParentTeacher('Teacher');">Add Teacher</button>
                <button type="button" class="btn btn-default" onclick="$('#addTeacher').slideUp();">Cancel</button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3" for="school">Status:</label>
        <div class="col-sm-9">
            @Html.DropDownListFor(m => m.StatusId, new SelectList(EnrollmentStatus.EnrollmentStatus_GetAll(), "Id", "Status"), "Select Status", new { id = "ddlEnrollmentStatus", @class = "form-control" })            
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
            <button type="submit" class="btn btn-default">Save Child Information</button>
        </div>
    </div>
}

<script type="text/javascript">
    $(function () {
        $("#frmAddChild").find("input[type=text], input[type=password], select").on("change", function () { resetErrorStatus(this); });
        $("#frmAddChild").find("input[type=text], input[type=password]").on("keyup", function () { resetErrorStatus(this); });
    });

    function resetErrorStatus(elem) {
        if ($(elem).val() == "0" || $(elem).val() == "") {
            $(elem).addClass("inerror");
        }
        else {
            $(elem).removeClass("inerror");
        }
    }

    function RegisterModel() {
        this.UserName;
        this.Password;        
        this.FullName;
    }    

    function addParentTeacher(type) {
        var div = type == "Parent" ? "#addParent" : "#addTeacher";
        var msg = $(div).find(".msg");
        
        var txtUserName = $(div).find(".txtUserName");
        var txtPassword = $(div).find(".txtPassword");
        var txtConfirmPassword = $(div).find(".txtConfirmPassword");
        var txtFullName = $(div).find(".txtFullName");
        

        var isError = false;
        if (txtUserName.val() == "") {
            txtUserName.addClass("inerror");
            isError = true;
        }
        if (txtPassword.val() == "") {
            txtPassword.addClass("inerror");
            isError = true;
        }
        if (txtConfirmPassword.val() == "") {
            txtConfirmPassword.addClass("inerror");
            isError = true;
        }
        if (txtFullName.val() == "") {
            txtFullName.addClass("inerror");
            isError = true;
        }

        if (isError == false && validateEmail(txtUserName.val()) == false) {
            msg.removeClass("green").addClass("red");
            msg.html("Please provide valid email address.");
            txtUserName.addClass("inerror").focus();
            return false;
        }

        if (isError == false && (txtPassword.val() != txtConfirmPassword.val())) {
            txtPassword.addClass("inerror");
            txtConfirmPassword.addClass("inerror").focus();
            msg.removeClass("green").addClass("red");
            msg.html("Password and Confirm Password should match.");            
            return false;
        }

        if (isError == true) {
            msg.removeClass("green").addClass("red");
            msg.html("Please provide the following information.");
            $(div).find(".inerror").first().focus();
            return false;
        }

        var objUser = new RegisterModel();
        objUser.UserName = txtUserName.val();
        objUser.Password = txtPassword.val();
        objUser.FullName = txtFullName.val();

        $.ajax({
            url: '@Url.Action("AddParentTeacher", "Child")',
            data: "{'objUser': '" + JSON.stringify(objUser) + "', 'role': '"+ type +"' }",
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                msg.empty();
                if (data.success == true) {
                    if (data.UserId > 0) {
                        if (type == "Parent") {
                            $("#ddlParents").append("<option value='" + data.UserId + "'>" + objUser.FullName + "</option>");
                        }
                        else if (type == "Teacher") {
                            $(".teachers").append("<div><label><input type='checkbox' checked='checked' name='TeacherId_" + data.UserId + "' value='" + data.UserId + "' /></label>" + objUser.FullName + "</div>");
                        }

                        txtUserName.val("").removeClass("inerror");
                        txtPassword.val("").removeClass("inerror");
                        txtConfirmPassword.val("").removeClass("inerror");
                        txtFullName.val("").removeClass("inerror");

                        msg.removeClass("red").addClass("green");
                        msg.html(objUser.FullName + " is successfully added.");
                    }
                }
                else {
                    msg.removeClass("green").addClass("red");
                    msg.html(data.msg);
                }
            },

            //Options to tell JQuery not to process data or worry about content-type
            cache: false,
            processData: false
        });
    }


    function School() {
        this.Name = "";
    }

    function addSchool() {
        var div = "#addSchool";
        var msg = $(div).find(".msg");

        var txtSchoolName = $(div).find(".txtSchoolName");
        if (txtSchoolName.val() == "") {
            msg.removeClass("green").addClass("red");
            msg.html("Please provide the following information.");

            txtSchoolName.addClass("inerror");
            $(div).find(".inerror").first().focus();
            return false;
        }

        var objSchool = new School();
        objSchool.Name = txtSchoolName.val();

        $.ajax({
            url: '@Url.Action("addSchool", "School")',
            data: "{'objSchool': '" + JSON.stringify(objSchool) + "' }",
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                msg.empty();
                if (data.success == true) {
                    $("#ddlSchools").append("<option value='" + data.schoolId + "'>" + objSchool.Name + "</option>");
                    $("#ddlSchools").val(data.schoolId);
                    txtSchoolName.val("");

                    msg.removeClass("red").addClass("green");
                    msg.html(objSchool.Name + " is successfully added.");
                }
                else {
                    msg.removeClass("green").addClass("red");
                    msg.html(data.msg);
                }
            },

            //Options to tell JQuery not to process data or worry about content-type
            cache: false,
            processData: false
        });
    }
</script>