@using SurveyApp.Models;
@using System.Data;

@{ 
    int studyId = Model == null ? 0 : Convert.ToInt32(Model);
    int children = 0;
    DataSet dsComparison = SurveyApp.DataHelper.DashboardGetDetailComparison(studyId);
    if(dsComparison != null)
    {
        dtChildren = dsComparison.Tables[0];
        dtTeachers = dsComparison.Tables[1];
        dtSurveys = dsComparison.Tables[2];
        dtTotalSurveys = dsComparison.Tables[3];
    }
    if (dtChildren != null && dtChildren.Rows != null && dtChildren.Rows.Count > 0)
    {
        children = dtChildren.Rows.Count;
    }

}

@functions{

    DataTable dtChildren, dtTeachers, dtSurveys, dtTotalSurveys;

    public string getSurveyValue(int childId, int surveyId, int teacherId, int periodtype)
    {
        string value = "";
        DataRow[] drSurveys = dtSurveys.Select("ChildId = " + childId + "AND '" + DateTime.Now + "'" + (periodtype == 1 ? " < " : " >= ") + "ScheduleDate");
        foreach(DataRow drS in drSurveys)
        {
            if((int)drS["SurveyId"] == surveyId && (drS["UserID"] != DBNull.Value ? (int)drS["UserID"] : -1) == teacherId)
            {
                string cssClass = (drS["Percentage"] == DBNull.Value ? "notstarted" : (Convert.ToInt32(drS["Percentage"]) == 100 ? "complete" : (Convert.ToInt32(drS["Percentage"]) < 100 ? "incomplete" : "notapplicable")));
                string title = (cssClass == "complete" ? "This survey is complete" : (cssClass == "incomplete" ? "This survey is partially complete" : (cssClass == "notstarted" ? "This survey has not started yet" : "Child is not scheduled for this survey")));
                value = "<span><i data-toggle='tooltip' title='" + title + "' class='ion-record " + cssClass + "'></i></span>";
                return value;
            }
            else
            {
                value = "<span><i class='ion-record notapplicable' data-toggle='tooltip' title='Child is not scheduled for this survey'></i></span>";
            }
        }
        if(value == "")
        {
            value = "<span><i class='ion-android-radio-button-off notenrolled' data-toggle='tooltip' title='Not applicable to respond'></i></span>";
        }
        return value;
    }
}

<style type="text/css">
    .comparison h4, .comparison .current{display: inline-block;}    
    .tblComparison{background-color: #FFF;}
    .tblComparison .hdhelper{font-weight: normal;cursor: pointer;color:#000000;}
    .name{border-right: solid 1px #CCC;border-bottom: solid 1px #CCC;width: 140px;padding: 2px;}
    .dots td{padding: 2px;}    
    .dots .dot{width: 43px;text-align: center;border-right: solid 1px #CCC;border-bottom: solid 1px #CCC;cursor:pointer;}
    .complete{color:#33B86C;}
    .incomplete{color:#ffd800;}
    .notstarted{color:#D7524B;}
    .notapplicable{color:#CA9404;}
    .notenrolled{color:#A3A2DE;}
    .comparison .current, .comparison .previous {border-top: none;width: 100%;}
    .comparison ul {height: 41px;margin: 0px;list-style: none;padding:0px;border-bottom: solid 1px #CCC;}
    .comparison li {float: left;}
    .comparison li a {margin-right: 2px;border: 1px solid transparent;padding: 10px 15px;display: block;position: relative;text-shadow: none;text-decoration:none;color:#333;min-width: 141px;}
    .comparison li a:hover {border-color: #FEFEFE;cursor: pointer;}
    .comparison li a.selected {color: #4d6b8a;background-color: #fff;border: 1px solid #B1B1B1;border-bottom-color: transparent;cursor: default;}
    .comparison .tblComparison .trhdn{display:none !important;}
    .comparison .title{height: 50px;clear: both;background-color: #FFF;text-align: center;padding: 10px;}
    .comparison .linker{text-decoration:none;padding: 2px 4px;background-color: #333;color: #FFF;display: inline-block;}
    .comparison .heading{position: absolute;display:inline-block;font-size:10px;-ms-transform: rotate(-60deg); /* IE 9 */-webkit-transform: rotate(-60deg); /* Chrome, Safari, Opera */transform: rotate(-60deg);}
    .comparison .tilttitle{position:absolute;display: inline-block;transform: rotate(-40deg);top: -3px;left: 6px;right: 0;margin-left: auto;margin-right: auto;white-space: nowrap;}
    .comparison .nodata{margin: 25px;text-align: center;}
    .comparison .linker.disabled{background-color: #CCC;cursor: help;}
</style>

<div class="comparison">
    <h3>Surveys Comparison</h3>   
    <div class="current">
        <div class="tabs" >
            <ul class="tabperiod">
                <li>
                    <a class="selected" href="javascript:void(0);" onclick="$('.tabperiod a').removeClass('selected'); $(this).addClass('selected'); $('.tblComparison').find('.tblPrevious').hide(); $('.tblComparison').find('.tblCurrent').show(); $('.chkPrevious').hide(); $('.chkCurrent').show(); $('.remPrevious').hide(); $('.remCurrent').show();">Currently Due</a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="$('.tabperiod a').removeClass('selected'); $(this).addClass('selected'); $('.tblComparison').find('.tblCurrent').hide(); $('.tblComparison').find('.tblPrevious').show(); $('.chkCurrent').hide(); $('.chkPrevious').show(); $('.remCurrent').hide(); $('.remPrevious').show();">Last Submited</a>
                </li>
            </ul>
            </div>

            <div style="padding:10px 0px;text-align:center;">
                <table>
                    <tr>
                        <td style="padding:0px 10px;"><span><i class="ion-record complete"></i>&nbsp;Complete</span></td>
                        <td style="padding:0px 10px;"><span><i class="ion-record incomplete"></i>&nbsp;Incomplete</span></td>
                        <td style="padding:0px 10px;"><span><i class="ion-record notstarted"></i>&nbsp;Not Started</span></td>
                        <td style="padding:0px 10px;"><span><i class="ion-record notapplicable"></i>&nbsp;Not Enrolled</span></td>
                        <td style="padding:0px 10px;"><span><i class="ion-android-radio-button-off notenrolled"></i>&nbsp;Not Applicable</span></td>

                    </tr>
                </table>
            </div>
            <div class="title" style="height:10px;"></div>
            <div style="border-bottom: solid 1px #CCC;">
                <table cellpadding="0" cellspacing="0" class="tblComparison" style="width:100%">
                    <thead>
                        <tr>
                            <th class="name hdhelper" data-toggle="tooltip" title="Child enrolled in the specfic survey">Child</th>
                            <th>
                                <table class="dots" style="width:100%">
                                    <tr>
                                        <th class="name hdhelper" data-toggle="tooltip" title="The resondents for the respective survey i.e. Teacher/Parent">
                                            Respondent
                                        </th>
                                        @foreach (DataRow drT in dtTotalSurveys.Rows)
                                        {
                                            <th class="dot hdhelper" data-toggle="tooltip" style="position:relative" title="@drT["FullTitle"]"><span class="tilttitle">@drT["Title"]</span></th>
                                        }
                                        <th class="dot hdhelper" style="position:relative">
                                            <span class="tilttitle" style="top: -14px;left: -5px;">
                                                Reminder
                                            </span>
                                            <input type="checkbox" class="chkCurrent" style="position: relative;left: 10px;" onclick="checkAll(this);" />
                                            <input type="checkbox" class="chkPrevious" style="position: relative;left: 10px;display:none;" onclick="checkAll(this);" />
                                        </th>
                                    </tr>
                                </table>
                            </th>                            
                        </tr>
                    </thead>
                    <tbody>
                        @if (children > 0)
                        {
                            int index = 0;
                            foreach (DataRow drChild in dtChildren.Rows)
                            {
                                DataRow[] drTeachers = dtTeachers.Select("ChildId = " + drChild["ChildId"]);
                                <tr class="@(index >= 10 ? "chosenones trhdn" : "")">
                                    <td class="name">@drChild["Name"]</td>
                                    <td>
                                        <table class="dots tblCurrent" style="width: 100%;">
                                            <tr>
                                                <td class="name">
                                                    @drChild["Parent"]
                                                </td>
                                                @foreach (DataRow drT in dtTotalSurveys.Rows)
                                                {
                                                    <td class="dot"><span onclick="window.open('@Url.Action("Survey", "Survey")?SurveyID=@drT["SurveyId"]')">@Html.Raw(getSurveyValue((int)drChild["ChildId"], (int)drT["SurveyId"], (int)drChild["ParentId"], 1))</span></td>
                                                }
                                                <td class="dot">
                                                    <input type="checkbox" class="checkReminder" data-toggle="tooltip" title="@drChild["Email"]" onclick="setReminderOption(this);" userid="@drChild["ParentId"]" email="@drChild["Email"]" />
                                                </td>
                                            </tr>
                                            @foreach (DataRow drTeacher in drTeachers)
                                            {
                                                <tr>
                                                    <td class="name">
                                                        @drTeacher["Teacher"]
                                                    </td>
                                                    @foreach (DataRow drT in dtTotalSurveys.Rows)
                                                    {
                                                        <td class="dot"><span onclick="window.open('@Url.Action("Survey", "Survey")?SurveyID=@drT["SurveyId"]')">@Html.Raw(getSurveyValue((int)drChild["ChildId"], (int)drT["SurveyId"], (int)drTeacher["TeacherId"], 1))</span></td>
                                                    }
                                                    <td class="dot">
                                                        <input type="checkbox" class="checkReminder" data-toggle="tooltip" title="@drTeacher["Email"]" onclick="setReminderOption(this);" userid="@drTeacher["TeacherId"]"  email="@drTeacher["Email"]" />
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                        <table class="dots tblPrevious" style="display:none;width:100%;">
                                            <tr>
                                                <td class="name">
                                                    @drChild["Parent"]
                                                </td>
                                                @foreach (DataRow drT in dtTotalSurveys.Rows)
                                                {
                                                    <td class="dot"><span onclick="window.open('@Url.Action("Survey", "Survey")?SurveyID=@drT["SurveyId"]')">@Html.Raw(getSurveyValue((int)drChild["ChildId"], (int)drT["SurveyId"], (int)drChild["ParentId"], 2))</span></td>
                                                }
                                                <td class="dot">
                                                    <input type="checkbox" class="checkReminder" data-toggle="tooltip" title="@drChild["Email"]" onclick="setReminderOption(this);" userid="@drChild["ParentId"]" email="@drChild["Email"]" />
                                                </td>                                                
                                            </tr>
                                            @foreach (DataRow drTeacher in drTeachers)
                                            {
                                                <tr>
                                                    <td class="name">
                                                        @drTeacher["Teacher"]
                                                    </td>
                                                    @foreach (DataRow drT in dtTotalSurveys.Rows)
                                                    {
                                                        <td class="dot"><span onclick="window.open('@Url.Action("Survey", "Survey")?SurveyID=@drT["SurveyId"]')">@Html.Raw(getSurveyValue((int)drChild["ChildId"], (int)drT["SurveyId"], (int)drTeacher["TeacherId"], 2))</span></td>
                                                    }    
                                                    <td class="dot">
                                                        <input type="checkbox" class="checkReminder" data-toggle="tooltip" title="@drTeacher["Email"]" onclick="setReminderOption(this);" userid="@drTeacher["TeacherId"]" email="@drTeacher["Email"]" />
                                                    </td>                                                
                                                </tr>
                                            }
                                        </table>
                                    </td>                                    
                                </tr>
                                index++;
                            }
                        }
                        else
                        {
                            <tr><td colspan="2"><div class="nodata">There is no child enrolled in this study currently</div></td></tr>
                        }
                    </tbody>
                </table>
            </div>

            @if (children > 10)
            {
                <div style="margin:0; padding:0; float:left;">
                    <a href="javascript:void(0);" class="linker" onclick="showHideChildren(this);">Show All Children</a>                    
                </div>
            }
            <div style="margin:0px 0px 0px 5px; padding:0; float:left;" class="remCurrent">
                <a href="javascript:void(0);" class="linker disabled" data-toggle='tooltip' title="Please select a respondent first to send reminder" onclick="sendReminder(this);">Send Reminder</a>
            </div>
            <div style="margin:0px 0px 0px 5px; padding:0; float:left;display:none;" class="remPrevious">
                <a href="javascript:void(0);" class="linker disabled" data-toggle='tooltip' title="Please select a respondent first to send reminder" onclick="sendReminder(this);">Send Reminder</a>
            </div>
        </div>    
    
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });

    function showHideChildren(elem) {
        if ($(elem).hasClass("hdn") == false) {
            $('.tblComparison tr.chosenones').removeClass('trhdn');
            $(elem).addClass("hdn");
            $(elem).text("Show Less Children");
        }
        else {
            $('.tblComparison tr.chosenones').addClass('trhdn');
            $(elem).removeClass("hdn");
            $(elem).text("Show All Children");
        }        
    }

    function checkAll(elem) {
        var isChecked = $(elem)[0].checked;
        if (isChecked == true) {
            var tbl = $(".tblCurrent").is(":visible") == true ? $(".tblCurrent") : $(".tblPrevious");            
            tbl.find(".checkReminder").each(function (index, obj) {
                $(obj)[0].checked = true;
            });            
        }
        else {
            var tbl = $(".tblCurrent").is(":visible") == true ? $(".tblCurrent") : $(".tblPrevious");
            tbl.find(".checkReminder").each(function (index, obj) {
                $(obj)[0].checked = false;
            });
        }
    }

    function setReminderOption(elem) {
        if ($(".tblCurrent").is(":visible") == true) {
            var isChecked = false;
            $(".tblCurrent").find(".checkReminder").each(function (inex, obj) {
                if ($(obj)[0].checked == true){
                    isChecked = true;
                }
            });
            if (isChecked == true) {
                $(".remCurrent a").removeClass("disabled");
                $(".remCurrent a").attr("title", "A reminder email will be send to the selected respondent(s)");
            }
            else {
                $(".remCurrent a").addClass("disabled");
                $(".remCurrent a").attr("title", "Please select a respondent first to send reminder");
            }
        }

        if ($(".tblPrevious").is(":visible") == true) {
            var isChecked = false;
            $(".tblPrevious").find(".checkReminder").each(function (inex, obj) {
                if ($(obj)[0].checked == true) {
                    isChecked = true;
                }
            });
            if (isChecked == true) {
                $(".remPrevious a").removeClass("disabled");
                $(".remPrevious a").attr("title", "A reminder email will be send to the selected respondent(s)");
            }
            else {
                $(".remPrevious a").addClass("disabled");
                $(".remPrevious a").attr("title", "Please select a respondent first to send reminder");
            }
        }
    }

    function Respondent() {
        this.UserId = 0;
        this.Email = "";
        this.ReminderDate = "";
    }

    function sendReminder(elem) {
        var respos = new Array();
        $(".tblComparison").find(".checkReminder").each(function (index, obj) {            
            if ($(obj)[0].checked == true && $(obj).attr("email") != "") {
                var respo = new Respondent();
                respo.UserId = $(obj).attr("userid");
                respo.Email = $(obj).attr("email");
                respo.ReminderDate = "@DateTime.Now";
                respos.push(respo);
            }
        });

        $.ajax({
            url: "@Url.Action("SendReminder", "Home")",
            data: "{'respos': '" + JSON.stringify(respos) + "'}",
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function (data) {
                if (data.success == true) {
                    
                }
                else {
                    
                }
            },
            error: function (errss) {
                result = false;
            },            
            cache: false,
            processData: false
        });
    }
</script>