@{
    ViewBag.Title = "Caregiver Strain Questionnaire";
    Layout = "~/Views/Shared/_Layout.cshtml";  string rdo = @"<div class='radioGroup'>
<div><input type='radio' name='a1' id='a1' value='Always'><label for='a1'>Not at All</label> </div>
<div><input type='radio' name='a1' id='a2' value='Frequently'><label for='a2'>A Little</label></div>
<div><input type='radio' name='a1' id='a3' value='Occasionally'><label for='a3'>Somewhat</label></div>
<div><input type='radio' name='a1' id='a4' value='Seldom'><label for='a4'>Quite a bit</label></div>
<div><input type='radio' name='a1' id='a5' value='Never'><label for='a5'>Very much</label></div>
</div>";
    string chk = @"<div class='checkGroup'>
<div><input type='checkbox' name='a1' id='a1' value='Salty'><label for='a1'>Salty</label> </div>
<div><input type='checkbox' name='a1' id='a2' value='Better'><label for='a2'>Better</label></div>
<div><input type='checkbox' name='a1' id='a3' value='Sweet'><label for='a3'>Sweet</label></div>
<div><input type='checkbox' name='a1' id='a4' value='Spicy'><label for='a4'>Spicy</label></div>
<div><input type='checkbox' name='a1' id='a5' value='Sour'><label for='a5'>Sour</label></div>
</div>";
       
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Title</h2> 
            </hgroup>
            <p> 
                This survey tells the level of strain as a care giver.
                </p>
            <p style="font-size:14px;">
                Please think back over the PAST MONTH and try to remember how things have been for your family.
                We are trying to get a picture of how life has been in your household over that time.
            </p>
        </div>
    </section>
}
<style type="text/css">
    ol.questions { padding-left:0px;margin-left:0px;list-style:none; }
    ol.questions li { background: #ffffff; padding: 10px; border-right: solid 5px #00AEEF; }
    ol.questions li h5{color:#333333;font-weight:normal;padding-top:0px;display:inline-block; width:50%;vertical-align:middle;min-width:300px;}
    ol.questions li:hover { background: #f9f9f9; border-right: solid 5px #cccccc; }
    
    .checkGroup,.radioGroup { padding: 0px; display:inline-block;width:48%; min-width:300px;vertical-align:middle;}
    .checkGroup label, .checkGroup input[type="checkbox"], .checkGroup div,
    .radioGroup label, .radioGroup input[type="radio"], .radioGroup div { display: inline-block; }

    .checkGroup div, .radioGroup div { min-width: 80px; width:18%; text-align:center;}
    .checkGroup label, .checkGroup input[type="checkbox"],
    .radioGroup label, .radioGroup input[type="radio"] { vertical-align: top; }
    .checkGroup label, .radioGroup label { padding: 5px;font-size:12px; display:block;text-align:center;}
    ol.questions li.showwhen { padding-left: 30px; background: #f1f1f1; border-right: solid 5px #9CDCF9; }
    
</style>
<h3 style="font-weight:normal;">In the PAST MONTH, how much of a problem were the following</h3>
<ol class="questions">
    <li>
        <h5>Interruption of personal time resulting from <strong>John</strong>'s emotional or behavioral problems?</h5>
            @Html.Raw(rdo.Replace("'a","'a"))
    </li>

    <li>
        <h5>You missing work or neglecting other duties because of <strong>John</strong>'s emotional or behavioral problems?</h5>
        @Html.Raw(rdo.Replace("'a","'b"))
    </li>

    <li>
        <h5>Disruption of family routines due to <strong>John</strong>'s emotional or behavioral problems?</h5>
        @Html.Raw(rdo.Replace("'a","'c"))
    </li>
    <li>
        <h5>Any family member having to do without things because of <strong>John</strong>'s emotional or behavioral problems?</h5>
            @Html.Raw(rdo.Replace("'a","'d"))
    </li>
    <li>
        <h5>Disruption or upset of relationships within the family due to <strong>John</strong>'s emotional or behavioral problems?</h5>
            @Html.Raw(rdo.Replace("'a","'e"))
    </li>
        <li>
        <h5>How sad or unhappy did you feel as a result of <strong>John</strong>'s emotional or behavioral problems?</h5>
            @Html.Raw(rdo.Replace("'a","'f"))
    </li>
        <li>
        <h5>How worried did you feel about <strong>John</strong>'s future?</h5>
            @Html.Raw(rdo.Replace("'a","'g"))
    </li>
    <li>
        <h5>How guilty did you feel about <strong>John</strong>'s emotional or behavioral problems?</h5>
            @Html.Raw(rdo.Replace("'a","'h"))
    </li>
        <li>
        <h5>How tired or strained did you feel as a result of <strong>John</strong>'s emotional or behavioral problems?</h5>
            @Html.Raw(rdo.Replace("'a","'i"))
    </li>
    <li style="display:none;" id="aacheckbox" class="showwhen" radiogroupid="i5" radiogroupname="i1">
        <h5>Sample Drilldown Question</h5>
            @Html.Raw(chk.Replace("'a","'aa"))
    </li>
</ol>
<div style="margin-top:20px;">
    <table style="width:100%;table-layout:fixed;border-collapse:collapse;">
        <tr>
            <td style="width:155px;padding:0px;"><input type="submit" value="Submit Survey" style="text-transform: uppercase; background: #4285F4;border-radius:3px;padding:8px 15px;color:#ffffff;border:none;text-shadow:none;font-size:14px;"onclick="$('#b1').closest('li').css('background', '#FCD6DF').css('border-right','solid 5px #cc0000;');$(document).scrollTop(100);" />
            </td>
            <td style="padding: 0px;">80% Complete
                <div style="background:white;height:5px;"><div style="border-bottom: solid 5px #00D900; width: 80%"></div></div>
            </td>
        </tr>
    </table>
    
    </div>
@section scripts{ 
<script type="text/javascript">
    $(function () {
        $(".showwhen").each(function () {
            var elmid = $("#" + $(this).attr("radiogroupid"));
            var elmname = $(this).attr("radiogroupname");
            $("input[name=" + elmname + "]").attr("showwhen", this.id);
            $("input[name=" + elmname + "]").bind("click", function () { $("#" + $(this).attr("showwhen")).slideUp(); });
            elmid.unbind("click");
            elmid.bind("click", function () {
                if(this.checked){
                    $("#" + $(this).attr("showwhen")).slideDown();
                }
            });
        });
    });
    
</script>}